Package: enigma2-plugin-extensions-estalker
Version: 1.09-20250828
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: IPTV Ministra stalker player by KiddaC
Depends:
Source: https://www.linuxsat-support.com
